.App {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

*::selection {
    color: #00000a;
}

.switch-div {
    padding: 0.5rem;
    margin-top: 6rem;
    background: #00000a;
    display: flex;
    align-items: flex-start;
}

.switch-div>.button-dark {
    background: #000d1a;
    color: #efefef;
    padding: 0.5rem;
    font-size: 3vmin;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.switch-div>.button-light {
    background: #efefef;
    color: #000d1a;
    font-size: 3vmin;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}

* {
    background-color: #00000a;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}